[Unit]
Description=TeleBot service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/ya_dolbaeb
ExecStart=/home/ya_dolbaeb/venv/bin/python bot.py

[Install]
WantedBy=multi-user.target
